
*{
    font-family: Times, "Times New Roman", Georgia, serif;
}
body{
    background: rgb(136, 211, 255);
}

header{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;

}

#fotoperfil{
    text-align: center;
    text-decoration: blink;
}

h1{
    background: rgb(158, 211, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration:double;
}

a {
    color: rgb(0, 30, 36);
    text-decoration: underline;
    }
a:hover{
    color: blue;
}
a[href="https://www.linkedin.com/in/matheusfernandes"] {
    background-color: yellow;
    }
    

/*
Criar um arquivo CSS externo;
● Utilizar no mínimo 1 seletor de cada tipo. Note que para isso você deverá fazer alterações
em seu código HTML, atribuindo valores de ID e classe aos elementos, conforme a
necessidade. (O uso do seletor universal será opcional);
● Utilizar no mínimo 2 fontes distintas;
● Utilizar no mínimo 2 opções de estilo à fonte (itálico, normal, oblíquo, negrito);
● Alterar a cor dos links ao passar o mouse sobre ele;
● Utilizar ao menos 3 decorações de texto;
● Utilizar cores diferentes para a imagem de fundo e fontes;
● Validar o código CSS por este link;
● Publicar o código via GitHub Pages. Veja as instruções neste link;
● Enviar a atividade em um arquivo .zip, contendo o projeto e o link do GitHub Pages
